@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1 {
    font-size: 3em;
    color: #fff;
}

section {
    min-height: 500px;
    padding: 45px 30px;
}

.inner {
    max-width: 1200px;
    margin: auto;
}

section.first {
    background-color: #004c4c;
}

section.first p {
    color: #fff;
}

.separator {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13.9vw solid #fff;
    margin-top: -13.9vw;
}
